.container{
  height: 90%;
  width: 96%;
}
.bt{
  width: 100%;
  position: relative;
  bottom: 2rem;
  right: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  .next{
    margin-left: 1rem;
  }
}