:root, .light{
  --home-bg:##fafafa;
  --theme-bt-bg: #1677ff;
  --font-color: #000;
  --body-bg:#fff;
  --left-bg:#e7f8ff;
}
.dark {
  --home-bg: #151515;
  --theme-bt-bg: #1c94aa;
  --font-color: #fff;
}