:root, .light{
  --home-bg:##fafafa;
  --theme-bt-bg: #1677ff;
  --font-color: #000;
  --body-bg:#bbbbbb;
  --right-bg:#ffffff;
  --left-bg:#e7f8ff;
  --body-boxShadow: #e3e3e3;
  --body-borderColor: #dedede;
  --button-hover-color: #1e1e1e;
  --li-bg:#ffffff;
  --li-hover-bg:#f3f3f3;
  --li-border-color:#1c94aa;
  --li-name-font-color:#000000;
  --li-time-font-color:#a6a6a6;
  --message-bg:#f2f2f2;
  --message-border:#e5e5e5;
  --cursor-color:#000000;
  --code-bg:#1a1b25;
  --actor-bg:#ffffff;
  --actor-border:#e1e1e1;
  --loading-bg:#fff;
}
.dark {
  --home-bg: #151515;
  --theme-bt-bg: #1c94aa;
  --font-color: #c9d1d9;
  --body-bg:#1e1e1e;
  --right-bg:#1e1e1e;
  --left-bg:#1b262a;
  --body-boxShadow: #141414;
  --body-borderColor: #494949;
  --button-hover-color: #ffffff;
  --li-bg: #1e1e1e;
  --li-hover-bg:#323232;
  --li-border-color:#1c94aa;
  --li-name-font-color:#bbbbbb;
  --li-time-font-color:#a6a6a6;
  --message-bg:#1c1c1c;
  --message-border:#474747;
  --cursor-color:#ffffff;
  --code-bg:#1a1b25;
  --actor-bg:#1e1e1e;
  --actor-border:#474747;
  --loading-bg:#fff;
}