:root, .light{
  --home-bg:##fafafa;
  --theme-bt-bg: #1677ff;
  --font-color: #000;
  --body-bg:#bbbbbb;
  --right-bg:#ffffff;
  --left-bg:#e7f8ff;
  --body-boxShadow: #e3e3e3;
  --body-borderColor: #dedede;
}
.dark {
  --home-bg: #151515;
  --theme-bt-bg: #1c94aa;
  --font-color: #fff;
  --body-bg:#1e1e1e;
  --right-bg:#1e1e1e;
  --left-bg:#1b262a;
  --body-boxShadow: #141414;
  --body-borderColor: #494949;
}